<form  #paymentForm="ngForm">

    <div class="payment-container">

        <h3>Payment Details</h3>

        <!-- Stripe injects its secure payment form here -->
        <div id="payment-element"></div>

    </div>

    <br>

    <div fxLayoutGap="10px">
        <button mat-button class="custom-btn btn-size" matStepperPrevious>Back</button>
        <button mat-button class="custom-btn btn-size" class="custom-btn" matStepperNext (click)="Submit(paymentForm)" >Pay Now</button>
    </div>

</form>