/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #073855;
    color: white;
    font-size: medium;
}
.custom-btn {
  background-color: #c2185b; // Pink
  color: white;
  margin-right: 10px;
}
.btn-size {
  border: solid 1px #cccccc6b !important;
    border-radius: 8px;
    height: 40px;
}

.custom-btn:hover:not(:disabled) {
  background-color: #d81b60;
}

.custom-btn:disabled {
  background-color: #b5c4cc !important;
  color: white !important;
  cursor: not-allowed;
}
.size-amount-brand{
    flex-wrap: wrap;
    gap: 10px;
}